$introColor : #ff5851;
$printDesignColor : #f3c130;
$logoColor : #414a6b;
$appArColor : #9BC1BC;
$aboutColor : #FF0066;
$menuBgColor : #fff;
$mainBgColor : #f2f2f2;
$bordersBgColor : #fff;

$main-text-color : #242424;
$intro-text-color : #fff;
$loader-text-color : #383838;

$secondary-font: "Libre Baskerville", serif;
$main-font: "Montserrat", sans-serif;


$font-weights : (
  "bold": 800,
  "medium": 700
);