.app-ar {
  .container {
    display: flex;
    padding-right: 100px;
    justify-content: center;
    align-items: center;

    @include media("<media-lg") {
      flex-direction: column;
    }
    
    @include media("<media-md") {
      padding-right: 50px;
    }
    
    @include media("<media-s") {
      padding-right: 30px;
    }
    > div {
      width: 49.999%;

      @include media("<media-lg") {
        width: 100%;
      }
    }
  }

  .paragraf-wrapper {
    width: 80%;
    
    @include media("<media-lg") {
      width: 60%;
    }
    
    @include media("<media-lg") {
      width: 75%;
    }
    
    @include media("<media-s") {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    
    @include media("<media-lg") {
      margin-top: 50px;
    }
    @include media("<media-md") {
      width: calc(100% + 100px) !important;
      margin-top: 50px;
    }
    
    @include media("<media-s") {
      width: calc(100% + 60px) !important;
    }

    .image-container {
      width: 80%;
      padding-bottom: 80%;
      z-index: 1;
      
      @include media("<media-lg") {
        width: 100%;
        padding-bottom: 60%;
      }

      & div {
        background-position: 50% 0%;
        background-image: url("../images/app-ar.jpg");

        &::before {
          content: "";
          position: absolute;
          top: -40px;
          left: 40px;
          background-color: $appArColor;
          width: 100%;
          height: 100%;
          z-index: -1;

          @include media("<media-lg") {
            display: none;
          }
        }
      }
    }
  }
}
