.footer {
  position: fixed;
  width: 100%;
  height: 250px;
  bottom: 0;
  z-index: -1;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22%;
    padding-right: 100px;

    @include media("<media-md") {
      padding-left: 50px;
      padding-right: 50px;
    }
    
    @include media("<media-s") {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      justify-content: center;
    }

    > div {
      width: 49.999%;
    }

    .brief {
      transform: translateY(-200px);

      @include media("<media-md") {
        transform: translateY(0) !important;
      }
      
      @include media("<media-md") {
        transform: translateY(0) !important;
        margin-bottom: 15px;
      }
    }

    .contacts {
      transform: translateY(-70px);
      @include media("<media-md") {
        transform: translateY(0) !important;
      }
    }
  }
}
