.logo {
  padding-bottom: 20vh;
  .container {
    padding-bottom: 0;
  }

  &__text {
    padding-left: 20%;
    padding-right: 100px;
    display: flex;
    gap: 5%;

    > div {
      width: 33.333%;

      @include media("<media-lg") {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    @include media("<media-md") {
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px;
    }

    @include media("<media-md") {
      flex-direction: column;
      padding-left: 50px;
      padding-right: 50px;
    }
    
    @include media("<media-s") {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .section__heading {
    position: relative;
    margin-bottom: 0;
    z-index: 2;
  }
  .image-container {
    margin-top: -50px;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;

    @include media("<media-md") {
      height: 300px;
    }

    & div {
      background-position: 50% 40%;
      background-image: url("../images/logo.jpg");
    }
  }
}
