.rendering-3d {
  padding-top: 20vh;

  // .paragraf-wrapper {
  //   width: 40%;

  //   @include media("<media-lg") {
  //     width: 55%;
  //   }
    
  //   @include media("<media-md") {
  //     width: 75%;
  //   }
    
  //   @include media("<media-s") {
  //     width: 100%;
  //   }
  // }
}
