.btn {
  font-size: 1.3rem;
  position: relative;

  @include media('<media-xl') {
    font-size: 1.1rem;
  }

  a {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    height: auto;
    bottom: 35%;
    left: -5px;
    right: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    opacity: 0.5;
    transition: transform 400ms;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    border-bottom: 1px solid;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 400ms;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &::after {
      transform-origin: right bottom;
      transform: scaleX(0);
    }
  }

  &--rendering3d {
    &::before {
      background-color: $introColor;
    }
  }
  
  &--print-design {
    &::before {
      background-color: $printDesignColor;
    }
  }
  
  &--logo {
    margin-top: 40px;
    &::before {
      background-color: $logoColor;
    }
  }
  
  &--app-ar {
    &::before {
      background-color: $appArColor;
    }
  }
}
